* {
    margin: 0;
    padding: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

.squaresContainer {
    width: 960px;
}