* {
    margin: 0;
    padding: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
    gap: 40px;
}

.squaresContainer {
    width: 480px;
    height: 480px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    border: 0.5px solid grey;
}

.squareOn {
    background-color: black;
}

.flexRow {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}